

.vertical {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: aliceblue;
}

.fixed-size {
  height: 120px;
}

.smooth-dnd-container.horizontal {
  display: flex!important;
}

.smooth-dnd-draggable-wrapper {
  /*width: 100% !important;*/
}
